[submodule "rust-quantum-resistant-lock-script"]
	path = rust-quantum-resistant-lock-script
	url = https://github.com/tea2x/rust-quantum-resistant-lock-script.git
[submodule "quantum-resistant-lock-script"]
	path = quantum-resistant-lock-script
	url = https://github.com/cryptape/quantum-resistant-lock-script.git
