.welcome {
  :global {
    padding: 3.6rem 3.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;

    h1 {
      font-weight: bold;
      font-family: "Quantico", sans-serif;
      font-size: 3.6rem;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.2;
      margin-bottom: 3.6rem;
    }

    button {
      width: fit-content;
      border-radius: 99rem;
      &:hover {
        background-color: var(--teal-1);
        color: var(--white);
      }
      + button {
        margin-top: 0.8rem;
      }
    }
  }
}
